<html>
<head>
<title>{{ page.title }} | Team Open</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Trykker" />
</head>
<body>
<h1>Team Open</h1>
<div id="headshot" style="background: url({{page.headshoturl}}) no-repeat 0 0; ">
<div id="headshot-content">
<h2>{{ page.title }}</h2>
<h3>{{ page.blurb }}</h3>
</div>
</div>
{{content}}
<a href="http://twitter.com/intent/tweet?source=webclient&text={{ page.blurb }}+teamopen.cc{{ page.url }}+%40{{ page.twitterhandle }}+%23teamopen" target="_blank"><div class="twitter"><div class="twittertext">share on Twitter</div></div></a>
</body>
</html>
