<html>
<head>
<title>{{ page.title }} | Team Open</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Trykker" />
</head>
<body>
<h1>Team Open</h1>
<div id="headshot" style="background: url({{page.headshoturl}}) no-repeat 0 0; ">
<div id="headshot-content">
<h2>{{ page.title }}</h2>
<h3>{{ page.blurb }}</h3>
</div>
</div>
{{content}}
<a href="http://twitter.com/intent/tweet?source=webclient&text={{ page.blurb }}+teamopen.cc{{ page.url }}+%40{{ page.twitterhandle }}+%23teamopen" target="_blank"><div class="circle" style="background-image: url(/images/twitter.png); "><div class="circletext">share on twitter</div></div></a>
<a href="{{ page.facebookshare }}" target="_blank"><div class="circle" style="background-image: url(/images/facebook.png); "><div class="circletext">share on facebook</div></div></a>
<a href="https://creativecommons.net/civicrm/mailing/subscribe" target="_blank"><div class="circle" style="background-image: url(/images/newsletter.png); "><div class="circletext">receive the newsletter</div></div></a>
</body>
</html>
